* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    background-image: url(./assents/Fundo.jpg);
    /*inseri uma imagem, com a função url indica o local onde está a imagem*/
    background-position: top center;
    /*refere-se ao posionamento, na qual estará sempre no topo e centralizado*/
    background-size: 100% auto;
    /*refere-se ao tamanho, na qual estará sempre ocupando 100% da largura disponivel e com a altura altomatica- que se adapta*/
    background-repeat: no-repeat;
    /*refere-se a repetição da imagem- que se tem por padrão-, na qual não haverá tail repetições*/
    background-color: #121214;
    /*refere-se a cor do plano de fundo*/
}

header{
    padding-top: 32px;
    height: calc(120px+32px);
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
/* :hover indica que quando se passar o mause por cima da div, a função dada será realizada*/
    transform: scale(1.1);
/* função da qual almentará a escala da div para 1,1*/
}
header img{
    width: 100%;
    border-radius: 50%;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

/*main * {
    border: 1px solid red;
}
*/
/* * representa um seletor universal, na qual pegará tudo o que está dentro do main*/

main{
    max-width: 580px;
    /*refere-se a largura máxima, na qual todos os elementos dentro deste manterão proporcionalidade diante dela*/
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;

}
section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}
section h2{
    letter-spacing: -0.47px;
}
section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section ul{
    display: flex ;
    flex-wrap: wrap;
    /*refere-se a visualização das caixas no html, na qual utilizando-se da função none, os elementos não são amostrados no site*/
    gap: 16px;
    
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}
.games-list img{
    width: 90px;
    border-radius: 8px;
}
.channel-list img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}


/*animation*/

header div{
    animation: fromTop .7s .2s backwards;
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .3s;
}
main section:nth-child(3){
    animation-delay: .6s;
}
/* :nth-child() especifica os elementos dentro de outros como se fossem filhos, na qual vão se ordenando de acordo com a quantidade presente*/

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}